<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="DB" connectionString="Data Source=u1773118.plsk.regruhosting.ru;Initial Catalog=u1773118_KRONOS;Persist Security Info=True;User ID=u1773118_KRONOSADMIN;Password=qhK-UHD-9DS-Mx6;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>